# Node / dependencies
node_modules/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts

# .NET / Visual Studio
.vs/
bin/
obj/
*.user
*.suo

# Logs
*.log

# Local env files
.env*

# macOS
.DS_Store
